---
import Section from './Section.astro';
---

<Section id="codigo" title="Código de Vestimenta">
  <p class="text-lg">
    Invitamos a los asistentes a vestir de manera elegante y discreta. Los tonos neutros y clásicos son preferidos.
  </p>
</Section>

