---
import Section from "./Section.astro";
---

<img
  src="/rings.webp"
  alt="Imagen principal de la boda"
  class="w-full h-[60vh] md:h-[70vh] object-cover"
/>

<Section id="presentacion" title="Presentación">
  <div class="space-y-8">
    <p class="text-lg leading-relaxed max-w-3xl">
      Nos complace invitarte a compartir con nosotros este día tan especial.
      Queremos celebrar nuestro amor rodeados de familiares y amigos.
    </p>
  </div>
</Section>

