---
import Section from './Section.astro';
---

<Section id="horarios" title="Horarios">
  <ul class="list-disc list-inside text-lg space-y-2">
    <li>Pre-Ceremonia: 16:00 - 16:30</li>
    <li>Ceremonia: 16:30 - 17:30</li>
    <li>Celebración: 18:00 - 23:00</li>
    <li>Autobuses de regreso: 23:30</li>
  </ul>
</Section>

